{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "ignoreBrowserslistConfig": true,
        "targets": {
          "node": true
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-universal-import"
  ]
}
